#top-search input.form-control{
  width: 350px;
}
#menu-block{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;
}

#right-block{
  position: fixed;
  top: 50%;
  right: 5px;
}

#menu-block,#main-block{
  margin-top: 80px;
}
#right-block{
  margin-top: -80px;
}


