.navbar-default {
  color: #fff;
  border-color: #0099cb;
  background-color: #0099cb;
}

.navbar-default .icon-home {
  padding: 0;
  padding-top: 1px;
}
.navbar-default .btn-link {
  font-size: 18px;
}
.navbar-default a,
.navbar-default a:hover,
.navbar-default .btn-link,
.navbar-default .navbar-nav > li > a,
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #fff;
}

.navbar-nav > li > a {
  font-size: 25px;
  line-height: 30px;

  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #0088b0;
}


#right-block button.list-group-item:hover,
#right-block a.list-group-item:focus,
#right-block button.list-group-item:focus {
  color: #0099cb;
  background-color: #f4f8ff;
}
#right-block .list-group-item {
  color: #0099cb;
}
#right-block .list-group-item:hover .txt {
  background-color: #f4f8ff;
}
